table{
    line-break: 100px;
    margin-left: 285px;
    color:#000000;
    font: 13px Radnika,NeueEinstellung,-apple-system,BlinkMacSy;
    /* padding: 10px; */
}
table h6{
    font: 14px NeueEinstellung,-apple-system,BlinkMacSy; 
    Margin: 0px 0px 8px;
    color:#000000;
    user-select: auto;

}
#ta{
    font: 14px Radnika,-apple-system,BlinkMacSy;
    color:#7A7A7A;
}
#tw{
    font: 14px Radnika,-apple-system,BlinkMacSy;
    color:#7A7A7A;
}

img{
    margin-left: 290px;
    width: 700px;
    height:500px;
}
#context{
    margin-left:287px;
    font:17px Roboto, sans-serif; 
    color:#7A7A7A;
}
h1{
    margin-left:350px;
    margin-top: 0px;
}    
.fabfa-facebook-f{
    font-size:36px;
    color:rgb(227, 235, 241)
}
footer{
    background-color: #000000;
    padding:80px 0px 30px;
}