/* img{
    width: 1210px;
    height: 500px;
} */
.tp{
    padding:0px 800px;
}
nav{
    padding-top: 15px;

}
nav a{
    text-decoration: none;
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    padding:2px;
}
.bn{
    background-image: url('Images/Logo.jpeg');
    background-size: cover;
    width: 100%;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat:no-repeat ;
}
.mn button{
    width: fit-content;
    padding: 0px 120px;
}



.titledeed{
    padding:3%;
    display: flex;
    flex-direction: row;
    Font:18px "Basic Commercial", Helvetica;
}
.listed{
    box-sizing: border-box;
    border: 1px  grey;
    width: 20%; 
    margin: 18px 28px;
    height: 400px;
    /* display:auto; */
    display: inline-block;
    flex-direction: row;
    /* margin-right: 12px;
    padding-right: 10px; */
}

.listed img{
    width:100%;
    height:100%;
    
}

.spd{
    /* box-sizing: border-box; */
    border: 1px  grey;
    width: 45%; 
    margin: 5px 25px;
    
    /* display:auto; */
    display: inline-block;
    flex-direction: row;
    /* margin-right: 12px;
    padding-right: 10px; */
}
.spd img{
    width:100%;
    height:100%;
}
.tpd{
    box-sizing: border-box;
    border: 1px  grey;
    width: 28%; 
    margin: 18px 28px;
    height: 250px;
    /* display:auto; */
    display: inline-block;
    flex-direction: row;
    /* margin-right: 12px;
    padding-right: 10px; */
}
.tpd img{
    width:100%;
    height:100%;
}
.btn {
    margin: 10px 70px;
    font: 13px "Basic Commercial", sans-serif;
    background-image: url('Images/controller.jpg');
    background-size: cover;
    width: 70%;
    margin-bottom:0px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat:no-repeat ;
}
.btn button:hover {

    color: aqua;
    border: 1px solid #000000;
}
/* .btn button:hover{
    background-color: violet;
    
    
} */
.fpd{
    box-sizing: border-box;
    border: 1px  grey;
    width: 28%; 
    margin: 18px 440px;
    height: 360px;
    /* display:auto; */
    display: inline-block;
    flex-direction: row;
    /* margin-right: 12px;
    padding-right: 10px; */
}
.fpd img{
    width:100%;
    height:100%;
}
.pa{
    margin-left: -10px;
    padding:20px 20px;
}
.pa a{
    
    margin:0px 550px;
    text-decoration: none;
    color: #858585;
    font:15px "Basic Commercial", sans-serif;
}
.pa a:hover{
    color:aqua ;
    /* text-align: center; */
}


footer{
    height: 500px;
    background-color: #000000;
    /* padding:80px 0px 30px; */

}
footer div{
    margin-left: 28px;
    
}
.th {
    color:#ffffff;
    padding-top: 30px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-weight: 50px; */
    margin-bottom: 25px!important;
    user-select: auto;
}
.th h5{
    margin-top: 50px;
    color:#ffffff;
    font: 15px "Basic Commercial", sans-serif;
    padding: 0px 15px;
    margin-bottom: 25px!important;
    user-select: auto;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}
.th p{
    margin-top: 0px;
    padding: 0px 15px;
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    margin-bottom: 25px!important;
    user-select: auto;
    line-height: 17px;
    margin-bottom: 25px;
    
}
.ft h5{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    padding: 0px 15px;
    /* display: inline;
    flex-direction: row; */
    /* margin-top: 50px; */
    
    user-select: auto;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}
.ft a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    text-decoration: none;
    padding: 0px 15px;
    /* display: inline-block;
    flex-direction: row; */
    /* width: 20px; */
}
.tft h5{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    /* display: inline;
    flex-direction: row; */
    margin-left: 160px;
    margin-top: -220px;
    padding: 0px 15px;
    /* width: 20px; */
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}
.tft a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    margin-top: -250px;
    margin-left: 160px;
    text-decoration: none;
    padding: 0px 15px;
}
.eft h5{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    margin-left: 360px;
    margin-top: -180px;   
    padding: 0px 15px; 
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}
.eft a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    display: inline-block;
    flex-direction: row;
    margin-left: 360px;
    margin-top: -590px;
    padding: 0px 15px;
    text-decoration: none;
    
}
.st h5{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    margin-left: 560px;
    margin-top: -200px;
    padding: 0px 15px;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}
.st p{
    color: #858585;
    font: 12px "Basic Commercial", sans-serif;
    margin-left: 560px;
    padding: 0px 15px;
}
.fp h6{
    color: #ffffff;
    font: 12px "Basic Commercial", sans-serif;
    margin-left: 560px;
    padding: 0px 15px;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
    
}
.fp p{
    color:#858585;
    font: 12px "Basic Commercial", sans-serif;
    margin-left: 560px;
    padding: 0px 15px;
    
}
.lp h6{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    margin-left: 960px;
    margin-top: -180px;
    padding: 0px 15px;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}
.lp p{
    color:#858585;
    font: 13px "Basic Commercial", sans-serif;
    margin-left: 1000px;
    margin-top: 0px; 
    /* padding: 0px 15px; */
}
footer hr{
    color: #858585;
    margin-top:188px;
}
.ll a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    text-decoration: none;
    margin-left: 45px;
}
.ll p{
    color: #858585;
    display: inline;
    /* flex-direction: row; */
    font: 13px "Basic Commercial", sans-serif;
    text-decoration: none;
    margin-left: 55px;
}