*{
    margin:auto;
    padding: auto;    
}    
.banner{
    background-image: url("Images/1.jpg");
    width: 1263px;
    height: 500px;
    border: 2px solid #00000000;
    
}
.mn{
    padding: 500px;
}
.banner button{
    justify-content: center;
    align-items: center;    
    margin: 220px 510px;
    padding: 0px;
    width: 200px;
    height: 60px;
}
.banner button:hover{
    color: aqua;
    background-color: white;
}
.banner button a{
    width: 130px;
    height: 50px;

    text-decoration: none;
}
.banner button a:hover{
    color: aqua;
    background-color: white;
}
/* 
.spd{
    background-image:url('Images/camera.jpg') ;
    background-repeat: no-repeat;
    display: inline-block;
    flex-direction: row;
    width: 10%;
    height: 10%;
    align-items: center;
    justify-content: center; 
    height:320px ;
    margin: 5px 25px;
    
}
.spd button{
    margin: 150px 225px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: #ffffff;
    background-color: #ffffff;
}

.spd a{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

.spd a:hover{
    color: aqua;
    background-color: #000000;
}
.spd button:hover{
    font: "Basic Commercial", sans-serif;
    background-color: #000000;
    color: aqua;
}

.tpd{
    background-image:url('Images/lenses.jpg') ;
    background-repeat:repeat;
    width: 25%;
    height: 300px;
    display:inline-block;
    flex-direction: row;
    margin: 18px 45px;

}
.tpd button{
    color: black;
    background-color: white;
    width:40%;
    justify-content: center;
    align-items: center;
    margin:100px 100px;
}
.tpd button:hover{
    background-color: #000000;
}
.tpd a:hover{
    
    color: aqua;
    background-color: #000000;
}
.fpd{
    background-image:url('Images/headphones.jpg') ;
    background-repeat:repeat;
    width: 28%;
    box-sizing: border-box;
    height: 400px;
    margin: 10px 440px;
    display: inline-block;
    flex-direction: row;
}
.ban{
    color: black;
    background-color: white;
    width:50%;
    justify-content: center;
    align-items: center;
    margin:180px 100px;
}
.fpd button:hover{
    background-color: black;
}
.ban:hover{
    color: aqua;
    background-color: white;
    width:50%;
    justify-content: center;
    align-items: center;
    margin:180px 100px;
}
.pa{
    margin-left: -10px;
    padding:20px 20px;
}
.pa a{
    margin:0px 550px;
    text-decoration: none;
    color: #858585;
    font:15px "Basic Commercial", sans-serif;
}
.pa a:hover{
    color:aqua ;
    text-align: center;
}
.w-100{
    width: 100%;
    height: 450px;
}

 */
