*{
  margin: auto;
  padding: auto;
}

/* whole page div style*/
.wrap{
  width: 1263px;
  height: 2500px;
}

/* head section style*/
.tp{
  color: #ffffff;
  background-color:#000000;
  width:1263px;
  height:50px ;
  padding:0px 0px 0px 1000px ;
  display: flex;
  flex-direction: row;
}
.tp span:hover{
  color:#5800FF;
}
hr{
  color: #ffffff;
  width: 2px;
  margin: 0px;
  padding: 0px;
}
.nbar{
  background-color: #000000 ;
  align-items: center;
  justify-content: center;
}
.nbar a{
  color: #ffffff;
  text-decoration: none;
  padding: 0px 0px 0px 80px;
}
.nbar a:hover{
  color: #5800FF;
}

/* footer style*/

.footer{
  width: 1263px;
  height: 500px;

  background-color: #000000;
  padding: 0px 15px;
}
.ftophe{
  display: flex;
  flex-direction:row ;
}
.fh h5{
  font: 20px "Poppins";
  color: #ffffff;
  padding: 30px 20px 0px 30px;
}

.fpa{
  font: 12px "Poppins";
  color: #ffffff;
  padding: 0px 20px 0px 30px;
}
.fhe{
  display: flex;
  flex-direction: row;
  padding:0px 50px 0px 0px ;
}
.fs{
  width: 400px;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid white;
  margin:0px 0px 0px 20px ;
  padding:0px 0px 0px 20px ;
}
.fb{
  width: 150px;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  margin:0px 0px 0px 20px ;
}
.fb:hover{
  color: #000000;
  background-color: #ffffff;
}
.fclink{
  display: flex;
  flex-direction: row;
  float: left;
  padding: 0px 0px 0px 30px;
}
.flo h5{
  padding:10px 10px 0px 5px ;
  font: 16px "Poppins";
  color: #ffffff;
}
.flo a{
  padding:10px 0px 0px 5px ;
  font: 12px "Poppins";
  color: #ffffff;
  text-decoration: none;
}
.flo a:hover{
  color:#5800FF;
  /*background-color: #ffffff;*/
}
.flt h5{
  padding:10px 0px 10px 50px ;
  font: 16px "Poppins";
  color: #ffffff;
}
.flt a{
  padding:10px 0px 0px 50px ;
  font: 12px "Poppins";
  color: #ffffff;
  text-decoration: none;
}
.flt a:hover{
  color:#5800FF;
  /*background-color: #ffffff;*/
}
.flth h5{
  padding:10px 0px 30px 50px ;
  font: 16px "Poppins";
  color: #ffffff;
}
.flth a{
  padding:0px 0px 0px 50px ;
  font: 12px "Poppins";
  color: #ffffff;
  text-decoration: none;
}
.flth a:hover{
  color:#5800FF;
  /*background-color: #ffffff;*/
}
.fblock{
  float: left;
  padding: 0px 130px 0px 0px;
  
}
.fhelp h5{
  display: flex;
  flex-direction: row;
  font:15px "Poppins";
  color: #ffffff;
  padding:5px 0px 0px 128px ;
}
.fhelp p{
  display: flex;
  flex-direction: row;
  font:10px "Poppins";
  color: #ffffff;
  padding:5px 0px 25px 150px ;
}
.fhelt h6{
  display: flex;
  flex-direction: row;
  font:15px "Poppins";
  color: #ffffff;
  padding:5px 0px 0px 128px ;
}
.fhelt p{
  display: flex;
  flex-direction: row;
  font:10px "Poppins";
  color: #ffffff;
  padding:5px 0px 0px 150px ;
}

.flink h6{
  font:16px "Poppins";
  color: #ffffff;
  padding:0px 0px 0px 600px ;
  
}
.flink a{
  font:15px "Poppins";
  color: #ffffff;
  padding-left:0px ;
  text-decoration: none;
  width: 10px;
  height: 10px;
  padding-bottom:10px ;
}
.flink a:hover{
  color: #5800FF;
}


.flink i{
  color: #ffffff;
  font-size: 10px ;
  width: 2px;
  height: auto;
  text-decoration: none;
  padding: 0px 0px 0px 50px;
}
.flink i:hover{
  
  color: #5800FF;
}
.flast{
  display: flex;
  flex-direction: row;
  float: left;
  width: auto;
  height: 20px;
}

.flast a{
  color: #ffffff;
  padding: 40px 30px ;
  text-decoration: none;
 
  float:left;
}
.flast a:hover{
  color: #5800FF;
}
.flast p{
  color: #ffffff;
  padding: 45px 0px 0px 10px;
  text-decoration: none;
  font: 12px "Poppins";
}
.btt a{
 float: right;
 margin-top: 0px; 
 color: #ffffff;
 text-decoration:none ;
 padding: 70px 60px 0px 0px;
}
.btt a:hover{
  color: #5800FF;
}