*{
  margin: auto;
  padding: auto;
}
/* nav{
    margin-top:-16px;
    background: #000000;
  }
  nav a{
    text-decoration: none;
    color: #ffffff;
    font: 13px "Basic Commercial", sans-serif;
    padding: 10px;
  }
  nav a:hover{
    color: aqua;
  } 
  
  header p{
    color: #858585;
    font:9px "Basic Commercial", sans-serif;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: -100px;
  }
  header a{
    text-decoration: none;
  }
  .p{
    color: #858585;
    font:9px "Basic Commercial", sans-serif;
    text-decoration: none;
  }
  .p:hover{
    color: aqua;
  }
  .side{
    background-attachment: scroll;
    font:15px "Basic Commercial", sans-serif;
    color:#858585;
    
   margin-top: 120px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  .side li{
    font:13px "Basic Commercial", sans-serif;
  }
  
  .display{
    padding-left: 120px;
    width:100%;
    display: flex;
    flex-direction: row;
    margin-right:20px ;
  }
  
footer{
    height: 500px;
    background-color: #000000;
  
  }
  footer div{
    margin-left: 28px;
    
  }
  .th {
    color:#ffffff;
    display: inline-block;
    flex-direction: row;
  }    
  
  .th h5{
    margin-top: 50px;
    color:#ffffff;
    font: 15px "Basic Commercial", sans-serif;
    padding: 0px 15px;
    
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
  }
  .th p{
    margin-top: 0px;
    padding: 0px 15px;
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    margin-bottom: 25px!important;
    user-select: auto;
    line-height: 17px;
    margin-bottom: 25px;
    
  }
  
 .th button:hover{    
    color: #000000;
    background-color: #ffffff;
  
  }
  
  .ft h5{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    padding: 0px 15px;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
  }
  .ft a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    text-decoration: none;
    padding: 0px 15px;
  }
  .tft h5{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    margin-left: 160px;
    margin-top: -220px;
    padding: 0px 15px;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
  }
  .tft a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    margin-top: -250px;
    margin-left: 160px;
    text-decoration: none;
    padding: 0px 15px;
  }
  .eft h5{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    margin-left: 360px;
    margin-top: -180px;   
    padding: 0px 15px; 
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
  }
  .eft a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    display: inline-block;
    flex-direction: row;
    margin-left: 360px;
    margin-top: -590px;
    padding: 0px 15px;
    text-decoration: none;
    
  }
  
  
  .lp h6{
    color: #ffffff;
    font: 15px "Basic Commercial", sans-serif;
    margin-left: 960px;
    padding: 0px 15px;
    font-family: var(--base-family);
    font-style: var(--base-style);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
  }
  .lp p{
    color:#858585;
    font: 13px "Basic Commercial", sans-serif;
    margin-left: 900px;
   
  }
  .ll hr{
    color: #faf2f2;
    
  }
  .ll{
    margin-top:-60px ;
  }
  
  .ll a{
    color: #858585;
    font: 13px "Basic Commercial", sans-serif;
    text-decoration: none;
    margin-left: 45px;
  }
  .ll p{
    color: #858585;
    display: inline;
    font: 13px "Basic Commercial", sans-serif;
    text-decoration: none;
    margin-left: 55px;
  } */