

nav{
  margin-top:-16px;
  background: #000000;
}
nav a{
  text-decoration: none;
  color: #ffffff;
  font: 13px "Basic Commercial", sans-serif;
  padding: 10px;
}
nav a:hover{
  color: aqua;
} 
header p{
  color: #858585;
  font:9px "Basic Commercial", sans-serif;
  padding-left: 30px;
}
header a{
  text-decoration: none;
}
.p{
  color: #858585;
  font:9px "Basic Commercial", sans-serif;
  text-decoration: none;
}
.p:hover{
  color: aqua;
}
.side{
  background-attachment: scroll;
  font:15px "Basic Commercial", sans-serif;
  color:#858585;
  /* padding: 30px; */
  background-color: bisque;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.side li{
  font:13px "Basic Commercial", sans-serif;
}

.fw img{
  width: 100px;
  padding-left: 30px;
}
.fw{
  display: flex;
  margin-top: -80px;
  padding-left: 30px;
   

}
.absolute{
  position: absolute;
  z-index: 10;
  width: fit-content;
  height: fit-content;
} 
.relative{
  display: flex;
  flex: wrap;
  padding-bottom: 6;
} 


.flex{
  position: relative;
  flex: none;
  width: 10;
  margin-bottom:10 ;
  z-index: 10;
}

.flex::before{
  position: absolute;
  background-color: teal;
  width: fit-content;
  height: fit-content;
  left: 1;
  top: 1;
}

.relative:before{
  background:black ;
  position: absolute;
  top: 6;
  bottom: 0;
  left: 60;
  right: 6;
  align-items: baseline;
}
.relative h1{
  flex: none;
  position: relative;
  margin-bottom: 2;
  width: fit-content;
  font-weight: bold;
  color: black;
  
}
#relative{
  position: relative;
  color: black;
}
.uppercase{
  text-transform: uppercase;
  position: relative;
  margin-left: 3;
  color: teal;
}
.items{
  align-items: baseline;
  margin-top:6;
  margin-bottom: 6;
  display: flex;
}
.space{
  display: flex;
  font-weight: lighter;
}
.rela{
  width: 10;
  height:10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  
}

.rela:checked{
  color: black;
  background-color: teal;
  position: absolute;
  z-index: 1;
  top: 0.5;
  left: 0.5;
  width: fit-content;
  height: fit-content;
}
.rela:before{
  background:teal;
}


.bant button{
  flex:none;
  display: flex;
  justify-content: center ;
  align-items:center;
  width: 12;
  height: 12;
  color: #000000;
}
.bant svg{
  width:20px; 
  height:20px;
  fill: currentColor;
} 

footer{
  height: 500px;
  background-color: #000000;

}
footer div{
  margin-left: 28px;
  
}
.th {
  color:#ffffff;
  padding-top: 30px;
  display: inline-block;
  flex-direction: row;
}    

.th h5{
  margin-top: 50px;
  color:#ffffff;
  font: 15px "Basic Commercial", sans-serif;
  padding: 0px 15px;
  
  font-family: var(--base-family);
  font-style: var(--base-style);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}
.th p{
  margin-top: 0px;
  padding: 0px 15px;
  color: #858585;
  font: 13px "Basic Commercial", sans-serif;
  margin-bottom: 25px!important;
  user-select: auto;
  line-height: 17px;
  margin-bottom: 25px;
  
}
.th #we{
  margin-left:570px;
  margin-top: -60px;
  

}
#we{
  display: inline-block; 
  flex-direction: row;
}
#we button{
  margin-top: -20px;
  background-color: #000000;
}
input[type="search"] {
  width: 40%;
}
.ee{
  
  /* margin-left: 200px; */
  color: #000000;
}
.th button{
  margin-left: 350px;
  color: #ffffff;
  font: 15px "Basic Commercial", sans-serif;
  background-color: #000000;
  width: 20%;
  margin-top: -20px;
  border-block:1px #ffffff;
}
.th button:hover{    
  color: #000000;
  background-color: #ffffff;

}

.ft h5{
  color: #ffffff;
  font: 15px "Basic Commercial", sans-serif;
  padding: 0px 15px;
  font-family: var(--base-family);
  font-style: var(--base-style);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}
.ft a{
  color: #858585;
  font: 13px "Basic Commercial", sans-serif;
  text-decoration: none;
  padding: 0px 15px;
}
.tft h5{
  color: #ffffff;
  font: 15px "Basic Commercial", sans-serif;
  margin-left: 160px;
  margin-top: -220px;
  padding: 0px 15px;
  font-family: var(--base-family);
  font-style: var(--base-style);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}
.tft a{
  color: #858585;
  font: 13px "Basic Commercial", sans-serif;
  margin-top: -250px;
  margin-left: 160px;
  text-decoration: none;
  padding: 0px 15px;
}
.eft h5{
  color: #ffffff;
  font: 15px "Basic Commercial", sans-serif;
  margin-left: 360px;
  margin-top: -180px;   
  padding: 0px 15px; 
  font-family: var(--base-family);
  font-style: var(--base-style);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}
.eft a{
  color: #858585;
  font: 13px "Basic Commercial", sans-serif;
  display: inline-block;
  flex-direction: row;
  margin-left: 360px;
  margin-top: -590px;
  padding: 0px 15px;
  text-decoration: none;
  
}
.st h5{
  color: #ffffff;
  font: 15px "Basic Commercial", sans-serif;
  margin-left: 560px;
  margin-top: -200px;
  padding: 0px 15px;
  font-family: var(--base-family);
  font-style: var(--base-style);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}
.st p{
  color: #858585;
  font: 12px "Basic Commercial", sans-serif;
  margin-left: 560px;
  padding: 0px 15px;
}
.fp h6{
  color: #ffffff;
  font: 12px "Basic Commercial", sans-serif;
  margin-left: 560px;
  padding: 0px 15px;
  font-family: var(--base-family);
  font-style: var(--base-style);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
  
}
.fp p{
  color:#858585;
  font: 12px "Basic Commercial", sans-serif;
  margin-left: 560px;
  padding: 0px 15px;
  
}
.lp h6{
  color: #ffffff;
  font: 15px "Basic Commercial", sans-serif;
  margin-left: 960px;
  margin-top: -180px;
  padding: 0px 15px;
  font-family: var(--base-family);
  font-style: var(--base-style);
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-letter-spacing);
}
.lp p{
  color:#858585;
  font: 13px "Basic Commercial", sans-serif;
  margin-left: 1000px;
  margin-top: 0px; 
}
footer hr{
  color: #858585;
  margin-top:188px;
}
.ll{
  margin-top: -10px;
}
.ll a{
  color: #858585;
  font: 13px "Basic Commercial", sans-serif;
  text-decoration: none;
  margin-left: 45px;
}
.ll p{
  color: #858585;
  display: inline;
  font: 13px "Basic Commercial", sans-serif;
  text-decoration: none;
  margin-left: 55px;
} 
